@model Webx.Web.Models.ShopViewModel

@{
    ViewData["Title"] = "WebX";
}

<style>
    .customBg{
        position:relative;
        background-image:none !important;
        background-color:rgba(0,0,0,0.9);
    }

    .customBg:before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.85 !important;
        background-image: url('assets/images/electronics/slider/1.jpg') !important;
        background-repeat: no-repeat !important;
        background-position: 50% 0 !important;
        background-size: cover !important;
    }


</style>

    <!-- home slider start -->
    <section class="home-section">
        <div class="container-fluid">
            <div class="slick-1 classic-arrow">
                <div>
                    @*home-slider*@
                    <div class=" bg-size blur-up lazyloaded customBg">
                        <img src="assets/images/electronics/slider/1.jpg" class="bg-img blur-up lazyload" alt="">
                        <div class="home-wrap row">
                            <div class="col-lg-4 col-md-6 col-sm-9 left-content">
                                <div>
                                    <div class="offer-wrap">
                                        <h4 class="mb-2" style="color:#fff">NEW PRODUCT</h4>
                                        @*<h6>Buy One Get One Free</h6>*@
                                    </div>
                                    <div class="home-content">
                                        <h1 data-animation-in="fadeInUp" style="color:#fff">INTEL</h1>
                                        <h1 class="mb-2" data-delay-in="0.3" data-animation-in="fadeInUp" style="color:#fff">i9-11900K Processor</h1>
                                        <h2 style="color:#fff" class="mb-4 d-sm-block d-none" data-animation-in="fadeInUp"
                                            data-delay-in="0.4">
                                            Experience What’s Inside.</h2>
                                            @*class="theme-color"*@
                                        <h3 class="mb-3" data-animation-in="fadeInUp" data-delay-in="0.5"><span
                                                 style="color:#fff">413,90 €</span> @*<span
                                                class="text-decoration-line-through">$480.00</span>*@</h3>
                                        <p class="mb-0 d-sm-block d-none" data-animation-in="fadeInUp"
                                            data-delay-in="0.6" style="color:#fff">
                                            Designed for intelligent performance, optimized creating, and enhanced tuning to allow gamers to game with up to 5.8 GHz clock speed.
                                        </p>
                                        <div class="discover-block d-sm-block d-none" data-animation-in="fadeInUp"  data-delay-in="0.7">                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 offset-lg-5 right-content d-lg-flex d-none">
                                <div>
                                    <h4 class="mb-2" style="color:#fff" data-animation-in="fadeInUp">Suggested products</h4>
                                    <h6 class="mb-4" style="color:#fff" data-animation-in="fadeInUp" data-delay-in="0.3">from our collection </h6>                                
                                    <div class="product-img" data-animation-in="fadeInUp" data-delay-in="0.5">
                                        <ul>
                                        @foreach(var product in Model.SuggestedProducts)
                                        {
                                            <li style="box-shadow: rgb(204 219 232) 3px 3px 6px 0px , rgb(255 255 255 / 50%) -3px -3px 6px 1px; border-radius: 10%;">
                                                <a asp-action="ProductInfo" asp-controller="Products" asp-route-id="@product.Id" data-source="assets/images/electronics/slider/1.jpg">
                                                    <img style="height: 157px;border-radius: 10%;" src="@product.Images.ElementAt(0).ImageFullPath" class="img-fluid blur-up lazyload" alt="">                                                        
                                                </a>
                                            </li>
                                        }
                                                                                
                                        </ul>
                                    </div>
                                </div>
                                <div class="home-social">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/profile.php?id=100088391940410" target="_blank" class="font-default">
                                                <img src="assets/images/social-icon/1.png"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span style="color:#fff">Facebook</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="font-default">
                                                <img src="assets/images/social-icon/2.png"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span style="color:#fff">Instagram</span>
                                            </a>
                                        </li>
                                        <li class="mb-0">
                                            <a href="#" class="font-default">
                                                <img src="assets/images/social-icon/3.png"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span style="color:#fff">Twitter</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="group-btn lazyload">
                            <a asp-action="ProductInfo" asp-controller="Products" asp-route-id="@Model.Product.Id" class="btn btn-solid-default lazyload">Show details</a>                                
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- home slider end -->

    <!-- service section start -->
    <section class="service-section">
        <div class="container">
            <div class="row g-4 g-sm-3">
                <div class="col-xl-3 col-sm-6">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <svg>
                                <use xlink:href="assets/svg/icons.svg#customer"></use>
                            </svg>
                        </div>
                        <div class="service-content">
                            <h3 class="mb-2">Customer Services</h3>
                            <span class="font-light">Top notch customer service.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <svg>
                                <use xlink:href="assets/svg/icons.svg#shop"></use>
                            </svg>
                        </div>
                        <div class="service-content">
                            <h3 class="mb-2">Pickup At Any Store</h3>
                            <span class="font-light">Always Free shipping</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <svg>
                                <use xlink:href="assets/svg/icons.svg#secure-payment"></use>
                            </svg>
                        </div>
                        <div class="service-content">
                            <h3 class="mb-2">Secured Payment</h3>
                            <span class="font-light">With Paypal</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <svg>
                                <use xlink:href="assets/svg/icons.svg#return"></use>
                            </svg>
                        </div>
                        <div class="service-content">
                            <h3 class="mb-2">Free Returns</h3>
                            <span class="font-light">30-days free return policy.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service section end -->  

    <!-- product section start -->
    <section class="ratio_asos">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-sm-12 p-0">
                    <div class="title text-center">
                        <h5>Just For You</h5>
                        <h2>Our Collection</h2>
                    </div>
                    <div class="product-wrapper slide-6">
                        

                            @foreach(var item in Model.HighlightedProducts)
                            {
                              <div>
                                    <div class="product-box">
                                        <div class="img-wrapper" style="max-width:260px;margin:auto;box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 15px;">    
                                            @*#EEF1F6*@
                                            <a asp-action="ProductInfo" asp-controller="Products" asp-route-id="@item.Product.Id">
                                                @if(item.Product.ImageFirst != null && !string.IsNullOrEmpty(item.Product.ImageFirst))
                                                {
                                                   <img src="@item.Product.ImageFirst" class="bg-img blur-up lazyload" alt="">   
                                                }                                                                                      
                                            </a>
                                            @if(item.Product.Discount > 0)
                                            {
                                                <div class="label-block">
                                                    <span class="label label-black">Promo</span>
                                                    <span class="label label-theme">@Decimal.Truncate(item.Product.Discount)% Off</span>
                                                </div>
                                            }
                                    
                                            <div class="cart-wrap">
                                                <ul>
                                                    <li>
                                                        <a href="#" onclick="AddtoCart(@item.Product.Id)" class="addtocart-btn" 
                                                            data-bs-toggle="modal" data-bs-target="#addtocart">
                                                            <i data-feather="shopping-bag"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-bs-toggle="modal" onclick="showHomeProductDetails(@item.Product.Id)" data-bs-target="#quick-view">
                                                            <i data-feather="eye"></i>
                                                        </a>
                                                    </li>                                                  
                                                    <li>                                                        
                                                        <a href="#" onclick="AddtoWishlist('@item.Product.Id')" >
                                                            <i data-feather="heart"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-details text-center">
                                            <h3 class="theme-color">
                                                @item.Product.PriceWithDiscount.ToString("C2")
                                                @if(item.Product.Discount > 0)
                                                {
                                                    <span class="font-light ml-1">@item.Product.Price.ToString("C2")</span>
                                                }                                        
                                            </h3>
                                            @*;white-space:nowrap*@
                                            <a asp-action="ProductInfo" asp-controller="Products" asp-route-id="@item.Product.Id" class="font-default">
                                                <h5 style="max-width:275px;overflow:hidden;text-overflow:ellipsis;">@item.Product.Name</h5>
                                            </a>
                                            <ul class="rating">
                                                @for(int i = 1; i < 6; i++)
                                                {
                                                    @if(i <= @item.ProductOverallRating)
                                                    {
                                                         <li>
                                                            <i class="fas fa-star theme-color"></i>
                                                         </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                    }
                                                }          
                                            </ul>
                                        </div>
                                    </div>
                              </div>
                            }
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="modalHomePartial">
             <partial id="modalPartialView" name="_ProductHomePartial"></partial>
    </div>


    @if(Model.CookieConsent == false){
        <!-- Coockie Section Start -->
        <div class="cookie-bar-section cookiebar-left-section">
            <img src="~/assets/images/cookie.png" alt="">
            <div class="content">
                <h3>Cookies Consent</h3>
                <p class="font-light">This website use cookies to ensure you get the best experience on our website.</p>
                <div class="cookie-buttons">
                    <button class="btn btn-solid-default" id="button">I understand</button>
                    <a href="https://www.learn-about-cookies.com/index.html" target="_blank" class="btn default-light1">Learn more</a>
                </div>
            </div>
        </div>
        <!-- Coockie Section End -->   
    }

    

     @section Scripts{
       @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
             
        <script src="~/js/ShopScript.js"></script>


     }