@model Webx.Web.Models.ShopViewModel

@{
    ViewData["Title"] = "WebX";

    var max = (int)Model.MostExpensiveProductPrice + 10;         

}


<style>

   
    .select-featured .dropdown-toggle::before{
        display:none;
    }


    .product-box .product-details h5 {
    margin: 5px auto 6px auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    width: 90%;
    font-weight: 500;
    }

    .list-style .product-box .main-price h3 {
        font-size:large !important;
        text-align:left !important;
    }

    .product-box .cart-wrap a,
    .product-box .cart-wrap button {
      padding: 15px;
      background-color: #D3D4D5;
      position: relative;
      z-index: 1;
    }

    #pagination > div > ul > li{
        display: inline-flex;
        font-size: 16px;
        width:30px;
        height:30px;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        margin-right:5px;        
    }

    #pagination > div > ul > li > a{
        width:30px;
        height:30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    #pagination > div > ul > li:hover{
        background-color: #eff2f7;
        border-radius:5px;
        color: var(--theme-color);
    }

    #pagination > div > ul > li > span{
        color:#fff;
        background-color: var(--theme-color);
        justify-content: center;
        align-items: center;
        display: inline-flex;
        border-radius: 5px;
        height: 30px;
        width: 30px;
    }

    .break {
        flex-basis: 100%;
        height: 0;
    }  
    
    .innerImage {
        filter:grayscale(100%);       
        transition: ease-in-out 1s;
    }

    .innerImage:hover{
        filter:none;    
    }

    .innerImage img {
        filter:blur(2px) !important;
        transition: ease-in-out 1s;
        border-radius:20% !important;
    }

    .innerImage:hover img{
        filter:none !important;   
    }

    .activeDiv .innerImage img{
       filter:none !important;
    }

    .activeDiv .innerImage{
        filter:none;
    }


</style>


    <!-- mobile fix menu start -->
    <div class="mobile-menu d-sm-none">
        <ul>
            <li>
                <a href="index.html">
                    <i data-feather="home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="toggle-category">
                    <i data-feather="align-justify"></i>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <a href="cart.html">
                    <i data-feather="shopping-bag"></i>
                    <span>Cart</span>
                </a>
            </li>
            <li>
                <a href="wishlist.html">
                    <i data-feather="heart"></i>
                    <span>Wishlist</span>
                </a>
            </li>
            <li>
                <a href="user-dashboard.html">
                    <i data-feather="user"></i>
                    <span>Account</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- mobile fix menu end -->


    <!-- Category Slider Section Start -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="slide-7-1 product-wrapper slick-lg-space ">
                        @foreach(var category in Model.Categories)
                        {                       
                            string divid = category.Name + "id";
                            <div>
                               <div class="image-slider">
                                   <div id="@divid" class="image-product" @*style="border: 2px solid var(--theme-color);border-radius: 5px;"*@>    
                                       <a href="#" class="innerImage" onclick="changeCategory('@category.Name')">
                                           <img src="@category.ImageFullPath" class="w-100 blur-up lazyload"
                                                alt="">
                                           <div class="image-contain">
                                               <h5>@category.Name</h5>
                                           </div>
                                       </a>
                                   </div>
                               </div>
                            </div> 
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Slider Section End -->
   

   

    
    
    <!-- Shop Section start -->
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="category-option">
                        <div class="button-close mb-3">
                            <button class="btn p-0"><i data-feather="arrow-left"></i> Close</button>
                        </div>
                        <div class="accordion category-name" id="accordionExample">
                            <div class="accordion-item category-rating">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo">
                                        Brand
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse show"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body category-scroll">
                                        <ul class="category-list">
                                            @foreach(var brand in Model.Brands)
                                            {
                                                <li>
                                                    <div class="form-check ps-0 custome-form-check">
                                                        <input class="checkbox_animated check-it" type="checkbox" onchange="filterBrand(@brand.HtmlId)" id="@brand.HtmlId">                                                           
                                                        <label class="form-check-label" for="@brand.HtmlId">@brand.Name</label>                                                        
                                                    </div>
                                                </li>
                                            }                                      
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item category-price">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour">
                                        Price
                                    </button>                                    
                                </h2>
                                <div id="collapseFour">
                                    <div class="price-input">
                                        <div class="field">
                                            <span>Min</span>
                                            <input type="number" class="input-min" value="0" readonly />
                                        </div>
                                        <div class="separator">-</div>
                                        <div class="field">
                                            <span>Max</span>
                                            <input type="number" class="input-max" value="@max" readonly />
                                        </div>
                                    </div>
                                    <div id="rangeChanger" class="slider">
                                        <div id="slider" class="progress"></div>
                                    </div>  
                                    <div  class="range-input">
                                        <input type="range" id="minRange" class="range-min" min="0" max="@max" value="0" step="10"  />
                                        <input type="range" id="maxRange" class="range-max" min="0" max="@max" value="@max" step="10"/>
                                    </div>
                                </div>
                            </div>                                                

                            <div class="accordion-item category-rating">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne">
                                        Ratings
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne">
                                    <div class="accordion-body">
                                        <ul class="category-list">
                                            <li>
                                                <div class="form-check ps-0 custome-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox" onclick="filterRate(5)" id="flexCheckDefault5">                                                           
                                                    <ul class="rating mt-0">
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                    </ul>                                                    
                                                </div>
                                            </li>

                                            <li>
                                                <div class="form-check ps-0 custome-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox" onclick="filterRate(4)" id="flexCheckDefault4">                                                           
                                                    <ul class="rating mt-0">
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                    </ul>                                                   
                                                </div>
                                            </li>

                                            <li>
                                                <div class="form-check ps-0 custome-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox" onclick="filterRate(3)" id="flexCheckDefault3">                                                           
                                                    <ul class="rating mt-0">
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                    </ul>                                                  
                                                </div>
                                            </li>

                                            <li>
                                                <div class="form-check ps-0 custome-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox" onclick="filterRate(2)" id="flexCheckDefault2">                                                           
                                                    <ul class="rating mt-0">
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                    </ul>                                                    
                                                </div>
                                            </li>

                                            <li>
                                                <div class="form-check ps-0 custome-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox" onclick="filterRate(1)" id="flexCheckDefault1">                                                           
                                                    <ul class="rating mt-0">
                                                        <li class="rating-list">
                                                            <i class="fas fa-star theme-color"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                    </ul>                                                
                                                </div>
                                            </li>

                                            <li>
                                                <div class="form-check ps-0 custome-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox" onclick="filterRate(0)" id="flexCheckDefault0">                                                           
                                                    <ul class="rating mt-0">
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                        <li class="rating-list">
                                                            <i class="fas fa-star"></i>
                                                        </li>
                                                    </ul>                                                    
                                                </div>
                                            </li>


                                        </ul>

                                    </div>
                                </div>
                            </div>                                                    
                        </div>
                    </div>
                </div>               
                
                <div class="col-lg-9 col-12 ratio_30">
                    <div class="col-12">
                         <div class="filter-options">                               
                             <div class="grid-options d-sm-inline-block d-none">
                                 <ul class="d-flex">                                      
                                     <li class="grid-btn active d-lg-inline-block d-none">
                                         <a href="javascript:void(0)">
                                             <img src="~/assets/svg/grid.svg" class="img-fluid blur-up lazyload"
                                                  alt="">
                                         </a>
                                     </li>
                                     <li class="list-btn">
                                         <a href="javascript:void(0)">
                                             <img src="~/assets/svg/list.svg" class="img-fluid blur-up lazyload"
                                                  alt="">
                                         </a>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                    </div>

                    <div id="refPartial">
                      <partial id="partialView" name="_shopSectionPartial"></partial>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="modalPartial">
                     <partial id="modalPartialView" name="_ProductModalPartial"></partial>
    </div>


<!-- Quick view modal end -->

    <!-- Cart Successful Start -->
    <div class="modal fade cart-modal" id="addtocart" tabindex="-1" role="dialog" aria-label="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="modal-contain">
                        <div>
                            <div class="modal-messages">
                                <i class="fas fa-check"></i> 3-stripes full-zip hoodie successfully added to
                                you cart.
                            </div>
                            <div class="modal-product">
                                <div class="modal-contain-img">
                                    <img src="~/assets/images/fashion/instagram/4.jpg" class="img-fluid blur-up lazyload"
                                         alt="">
                                </div>
                                <div class="modal-contain-details">
                                    <h4>Premier Cropped Skinny Jean</h4>
                                    <p class="font-light my-2">Yellow, Qty : 3</p>
                                    <div class="product-total">
                                        <h5>TOTAL : <span>$1,140.00</span></h5>
                                    </div>
                                    <div class="shop-cart-button mt-3">
                                        <a href="shop-left-sidebar.html"
                                           class="btn default-light-theme conti-button default-theme default-theme-2 rounded">
                                            CONTINUE
                                            SHOPPING
                                        </a>
                                        <a href="cart.html"
                                           class="btn default-light-theme conti-button default-theme default-theme-2 rounded">
                                            VIEW
                                            CART
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ratio_asos mt-4">
                        <div class="container">
                            <div class="row m-0">
                                <div class="col-sm-12 p-0">
                                    <div class="product-wrapper product-style-2 slide-4 p-0 light-arrow bottom-space spacing-slider">
                                        <div>
                                            <div class="product-box">
                                                <div class="img-wrapper">
                                                    <div class="front">
                                                        <a href="product-left-sidebar.html">
                                                            <img src="~/assets/images/fashion/product/front/1.jpg"
                                                                 class="bg-img blur-up lazyload" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-details text-center">
                                                    <div class="rating-details d-block text-center">
                                                        <span class="font-light grid-content">B&Y Jacket</span>
                                                    </div>
                                                    <div class="main-price mt-0 d-block text-center">
                                                        <h3 class="theme-color">$78.00</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="product-box">
                                                <div class="img-wrapper">
                                                    <div class="front">
                                                        <a href="product-left-sidebar.html">
                                                            <img src="~/assets/images/fashion/product/front/2.jpg"
                                                                 class="bg-img blur-up lazyload" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-details text-center">
                                                    <div class="rating-details d-block text-center">
                                                        <span class="font-light grid-content">B&Y Jacket</span>
                                                    </div>
                                                    <div class="main-price mt-0 d-block text-center">
                                                        <h3 class="theme-color">$78.00</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="product-box">
                                                <div class="img-wrapper">
                                                    <div class="front">
                                                        <a href="product-left-sidebar.html">
                                                            <img src="~/assets/images/fashion/product/front/3.jpg"
                                                                 class="bg-img blur-up lazyload" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-details text-center">
                                                    <div class="rating-details d-block text-center">
                                                        <span class="font-light grid-content">B&Y Jacket</span>
                                                    </div>
                                                    <div class="main-price mt-0 d-block text-center">
                                                        <h3 class="theme-color">$78.00</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="product-box">
                                                <div class="img-wrapper">
                                                    <div class="front">
                                                        <a href="product-left-sidebar.html">
                                                            <img src="~/assets/images/fashion/product/front/4.jpg"
                                                                 class="bg-img blur-up lazyload" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-details text-center">
                                                    <div class="rating-details d-block text-center">
                                                        <span class="font-light grid-content">B&Y Jacket</span>
                                                    </div>
                                                    <div class="main-price mt-0 d-block text-center">
                                                        <h3 class="theme-color">$78.00</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart Successful End -->

    
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   
    <!-- Price Filter js -->
    <script src="~/assets/js/price-filter.js"></script>

    <!--Plugin JavaScript file-->
    <script src="~/assets/js/ion.rangeSlider.min.js"></script>

    <!-- Filter Hide and show Js -->
    <script src="~/assets/js/filter.js"></script>   

    <script src="~/js/ShopScript.js"></script>

  
}
    