@model Webx.Web.Models.InvoiceViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>WebX - Invoice</title>

		<style>
			.invoice-box {
				max-width: 800px;
				margin: auto;
				padding: 30px;
				border: 1px solid #eee;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
				font-size: 16px;
				line-height: 24px;
				font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
				color: #555;
			}

			.invoice-box table {
				width: 100%;
				line-height: inherit;
				text-align: left;
			}

			.invoice-box table td {
				padding: 5px;
				vertical-align: top;
			}

			.invoice-box table tr td:nth-child(2) {
				text-align: right;
			}

			.invoice-box table tr.top table td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.top table td.title {
				font-size: 45px;
				line-height: 45px;
				color: #333;
			}

			.invoice-box table tr.information table td {
				padding-bottom: 40px;
			}

			.invoice-box table tr.heading td {
				background: #eee;
				border-bottom: 1px solid #ddd;
				font-weight: bold;
			}

			.invoice-box table tr.details td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.item td {
				border-bottom: 1px solid #eee;
			}

			.invoice-box table tr.item.last td {
				border-bottom: none;
			}

			.invoice-box table tr.total td:nth-child(2) {
				border-top: 2px solid #eee;
				font-weight: bold;
			}

			@@media only screen and (max-width: 600px) {
				.invoice-box table tr.top table td {
					width: 100%;
					display: block;
					text-align: center;
				}

				.invoice-box table tr.information table td {
					width: 100%;
					display: block;
					text-align: center;
				}
			}

			/** RTL **/
			.invoice-box.rtl {
				direction: rtl;
				font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
			}

			.invoice-box.rtl table {
				text-align: right;
			}

			.invoice-box.rtl table tr td:nth-child(2) {
				text-align: left;
			}

/*		table, th, td {
			border: 1px solid black;
		}*/
		</style>
	</head>

	<body>
		<div class="invoice-box">
			
			<table cellpadding="0" cellspacing="0">
				
				<tr class="information">
							
					<td style="text-align:left;">
						Store: @Model.Order.Store.Name<br />
						@Model.Order.Store.Address<br />
						Email: @Model.Order.Store.Email
					</td>
					<td colspan="3" style="text-align:center; width: 150px;">
						<br/><br/>
						<img src="https://webx2022.blob.core.windows.net/images/logofooter.png" style="width: 100%; max-width: 150px" />
					</td>
				</tr>
					

				<tr>
					<td colspan="4"><br /></td>
				</tr>

				<tr class="information">
					<td style="text-align:right; width: 425px;"></td>
					<td colspan="3">
						<table>
							<tr>
								<td style="text-align:left">
									Invoice #: @Model.Order.InvoiceId<br />
									Create Date: @DateTime.UtcNow.ToString("dd MMMM, yyyy")<br />
									Issue Date: @Model.Order.OrderDate.ToString("dd MMMM, yyyy")<br /><br />

									Name: @Model.Order.Customer.FullName<br />
									Email: @Model.Order.Customer.Email<br />
									NIF: @Model.Order.Customer.NIF
								</td>
							</tr>
						</table>
					</td>
				</tr>



				<tr class="heading" style="text-align:center; background-color: #e9e9e9">
					<th style="width: 425px">Product</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Total</th>
				</tr>





			@foreach (var item in Model.orderDetails)
			{
			<tr class="item">
				<td style="text-align:left;">@item.Product.Name</td>
				<td style="text-align:center;">@item.Product.PriceWithDiscount.ToString("C2")</td>
				<td style="text-align:center;">@item.Quantity</td>
				<td style="text-align:center;">@item.Price.ToString("C2")</td>
			</tr>
			}


			<tr>
				<td colspan="4"><br /></td>
			</tr>
			<tr class="total">
				<td></td>
				<th></th>
				<th style="text-align:center; background-color: #e9e9e9">Grand Total</th>
				<th style="text-align:center; background-color: #e9e9e9"> @Model.Order.TotalPrice.ToString("C2") </th>
			</tr>

			</table>
		</div>
	</body>
</html>
