@model Webx.Web.Models.ShopViewModel


<style>
    .borderDashed{
        padding: 20px 0;        
        border-bottom: 1px dashed #ced4da;
    }
    .carousel-indicators {
        margin-bottom: -2rem;
    }

 
     
</style>

<div class="modal fade quick-view-modal" id="quick-view">
   <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
         
        <button type="button" class="btn-close" onclick="(closeViewModel())"  aria-label="Close"></button>
            <div class="modal-body">

                 @if(Model.Product != null)
                 {
                     <!-- Quick view modal start -->
                 
                     <div class="row gy-4">
                         <div class="col-lg-6">
                 
                             @if (Model.Product.Images.Count() > 0)
                             {   
                                 int imageCounter = 0;
                                  
                                
                                 <div id="productSlideShow" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
                                     
                                     
                                   
                                     <div class="carousel-indicators">
                                        @foreach(var item in Model.Product.Images)
                                        {                                        
                                            if(item == Model.Product.Images.ElementAt(0))
                                            {
                                                <button type="button" data-bs-target="#productSlideShow" data-bs-slide-to="@imageCounter" class="active" aria-current="true" aria-label="Slide to @(imageCounter+1)"></button>
                                                imageCounter++;
                                            }
                                            else
                                            {
                                                <button type="button" data-bs-target="#productSlideShow" data-bs-slide-to="@imageCounter" aria-current="true" aria-label="Slide to @(imageCounter+1)"></button>
                                                imageCounter++;
                                            }
                                        }                                        
                                     </div>
                                     <div class="carousel-inner">
                                         
                                         @foreach(var item in Model.Product.Images)
                                         {
                                             if(item == Model.Product.Images.ElementAt(0))
                                             {
                                                 <div class="carousel-item active">                                                   
                                                     <img src="@item.ImageFullPath" class="d-block w-100" alt="product">                                                      
                                                 </div>
                                             }
                                             else
                                             {
                                                 <div class="carousel-item">
                                                     <img src="@item.ImageFullPath" class="d-block w-100" alt="product"> 
                                                 </div>
                                             }
                                         }                   
                                     </div>
                                     <button class="carousel-control-prev" type="button" data-bs-target="#productSlideShow" data-bs-slide="prev">
                                       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                       <span class="visually-hidden">Previous</span>
                                     </button>
                                     <button class="carousel-control-next" type="button" data-bs-target="#productSlideShow" data-bs-slide="next">
                                       <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                       <span class="visually-hidden">Next</span>
                                     </button>

                                 </div>
                                

                             }
                             else
                             {
                                <div>
                                         <div>
                                                 <img src="@Model.Product.ImageFirst" class="img-fluid blur-up lazyload" alt="product">                                                 
                                         </div>
                                </div>
                             }
                 
                     </div>
                      <div class="col-lg-6">
                          <div class="product-right">
                              <h2 class="mb-2">@Model.Product.Name</h2>
                              <ul class="rating mt-1">
                                  <li>
                                      <i class="fas fa-star theme-color"></i>
                                  </li>
                                  <li>
                                      <i class="fas fa-star theme-color"></i>
                                  </li>
                                  <li>
                                      <i class="fas fa-star theme-color"></i>
                                  </li>
                                  <li>
                                      <i class="fas fa-star"></i>
                                  </li>
                                  <li>
                                      <i class="fas fa-star"></i>
                                  </li>
                                  <li class="font-light">(In stock)</li>
                              </ul>
                              <div class="price mt-3">
                                   <h3>@Model.Product.PriceWithDiscount.ToString("C2")</h3>
                                    @if(Model.Product.Discount > 0)
                                    {
                                      <span class="font-light ml-1" style="text-decoration:line-through;">@Model.Product.Price.ToString("C2")</span>
                                      <span style="margin-left: 10px;">@Decimal.Truncate(Model.Product.Discount)% Discount</span>
                                    }
                              </div>
                              
                              
                              <div class="product-details">
                                  <h4>product details</h4>
                                  <p>@Model.Product.Description</p>
                              </div>
                              <div class="borderDashed">
                                  <div class="row">
                                      <div class="col-md-6">
                                            <div class="row" style="margin-top:5px;">
                                                    <div class="col-md-12">
                                                        <h6 style="font-weight:500">Category </h6>
                                                        <h6>@Model.Product.Category.Name</h6>
                                                    </div>                    
                                            </div>
                                            <div class="row" style="margin-top:5px;">
                                                 <div class="col-md-12">
                                                     <h6 style="font-weight:500">Brand </h6>
                                                     <h6>@Model.Product.Brand.Name</h6>
                                                 </div>                    
                                            </div>
                                      </div>    
                                      <div class="col-md-6">
                                            @foreach(var item in Model.Stocks)
                                            {
                                                if(item.Product.Id == Model.Product.Id)
                                                {
                                                     <div class="row" style="margin-top:5px;">
                                                          <div class="col-md-10" style="text-align:end">
                                                              <h6 style="font-weight:500">@item.Store.Name :</h6>                                                              
                                                          </div>                                                          
                                                          <div class="col-md-2">
                                                             
                                                             @if(item.Quantity == 0)
                                                             {
                                                                 <h6><i class="fas fa-circle" style="color:#3F3F3F"></i></h6> 
                                                             }

                                                             @if(item.Quantity > 0 && item.Quantity < 10)
                                                             {
                                                               <h6><i class="fas fa-circle" style="color:red"></i></h6> 
                                                             }

                                                             @if(item.Quantity >=10 && item.Quantity <= 25)
                                                             {
                                                                <h6><i class="fas fa-circle" style="color:#ffb703"></i></h6>
                                                             }

                                                             @if(item.Quantity > 25)
                                                             {
                                                                <h6><i class="fas fa-circle" style="color:green"></i></h6>
                                                             }                                                              
                                                          </div>                                                          
                                                     </div>                                                  

                                                }
                                            }
                                      </div>
                                 </div>
                              </div>
                              <div class="product-btns">
                                  <button type="button" onclick="AddtoCart(@Model.Product.Id)" class="btn btn-solid-default btn-sm" data-bs-dismiss="modal">                                          
                                      Add to cart
                                  </button>
                                  <a asp-action="ProductInfo" asp-controller="Products" asp-route-id="@Model.Product.Id" class="btn btn-solid-default btn-sm">
                                      View details
                                  </a>
                              </div>
                          </div>
                      </div>
                   </div>
                 
                 }
            </div>
      </div>
   </div>
</div>



