@using Webx.Web.Models
@model IEnumerable<Webx.Web.Data.Entities.Store>

@{
    ViewData["Title"] = "View All Stores";
    ViewData["Breadcrumb"] = null;
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
    List<Object> toolbarItems = new List<Object>();
    if(ViewBag.IsActive == true)
    {
        toolbarItems.Add(new { text = "Show Inactive", tooltipText = "Show inactive Stores", prefixIcon = "e-expand", id = "showStore",align ="Right"});
    }
    else
    {
        toolbarItems.Add(new { text = "Hide Inactive", tooltipText = "Hide inactive Stores", prefixIcon = "e-expand", id = "hideStore",align ="Right"});
    }
    toolbarItems.Add("Search");

    toolbarItems.Add(new { text = "Info", tooltipText = "Store Details", prefixIcon = "e-expand", id = "infoStore" });
    toolbarItems.Add(new { text = "Edit", tooltipText = "Edit Store", prefixIcon = "e-expand", id = "editStore" });
    toolbarItems.Add(new { text = "Delete", tooltipText = "Delete Store", prefixIcon = "e-expand", id = "deleteStore" });
    toolbarItems.Add(new { text = "Create", tooltipText = "Create Store", prefixIcon = "e-expand", id = "createStore" });

    var yesButton = new ButtonModel() { content = "Yes", cssClass = "e-flat" };
    var noButton = new ButtonModel() { content = "No", cssClass = "e-flat" };
}

<style>
    .image img {
        height: 75px;
        width: 75px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);
    }

    #editStore > .e-expand::before {
        content: '\e730' !important;
    }

    #infoStore > .e-expand::before {
        content: '\e800' !important;
    }
   
    #deleteStore > .e-expand::before {
        content: '\e820' !important;
    }

    #showStore > .e-expand::before {
        content: '\e887' !important;
    }

    #hideStore > .e-expand::before {
        content: '\e7de' !important;
    }

</style>


<!--Div que permite dar espaçamento entre ejs grid e topo-->
<div class="container-fluid" style="min-height:25px;background-color: #f4f6f9;">
</div>

<div id='container' class="container-fluid">

    <!-- Tabela/Grid do syncfusion  -->
    <ejs-grid id="grid" TValue="@ViewBag.Type" dataSource="Model" rowSelected="rowSelected" allowSelection="true" allowPaging="true" allowSorting="true" allowFiltering="false" toolbarClick="toolbarClick" toolbar="toolbarItems">
        <e-grid-selectionsettings type="Single" mode="Row"></e-grid-selectionsettings>
        <e-grid-pagesettings pageSize="7"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column headerText="Id" isPrimaryKey="true" width="0px"></e-grid-column>
            <e-grid-column headerText="Profile Picture" template="#template" width="160" textAlign="Center" allowEditing="false"></e-grid-column>
            <e-grid-column field="Name" textAlign="Left" allowEditing="false" width="165px"></e-grid-column>
            <e-grid-column field="IsActive" template="#templateCheckbox1" textAlign="Center" width="130px"></e-grid-column>
            <e-grid-column field="IsOnlineStore" template="#templateCheckbox2" textAlign="Center" width="130px"></e-grid-column>
            <e-grid-column field="" textAlign="Left" allowEditing="false" width="20px"></e-grid-column>
            <e-grid-column field="Address" textAlign="Left" width="400px"></e-grid-column>
            <e-grid-column field="City" textAlign="Left" width="120px"></e-grid-column>
            <e-grid-column field="ZipCode" textAlign="Left" width="120px"></e-grid-column>
            <e-grid-column field="Email" textAlign="Left" width="250px"></e-grid-column>
            <e-grid-column field="PhoneNumber" textAlign="Left" width="130px"></e-grid-column>
            <e-grid-column field="" textAlign="Left" allowEditing="false" width="30px"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>

    <!-- Caixa de Dialogo do syncfusion / Surge ao clicar no detalhes da loja -->
    <ejs-dialog id='dialog' visible="false" isModal="true" width="470px" height="280px" showCloseIcon="true" allowDragging="true" overlayClick="onOverlayClick" target="#container">
        <e-dialog-animationsettings effect="Fade" duration="400" delay="0"></e-dialog-animationsettings>
    </ejs-dialog>

    <!-- Caixa de Dialogo do syncfusion / Surge ao clicar no delete da loja -->
    <ejs-dialog id='deleteDialog' visible="false" isModal="true" width="300px" showCloseIcon="true" allowDragging="true" overlayClick="onDeleteOverlayClick" target="#container"
                header="Delete Store">
        <e-dialog-animationsettings effect="Fade" duration="400" delay="0"></e-dialog-animationsettings>

        <e-dialog-buttons>
            <e-dialog-dialogbutton buttonModel="@yesButton" click="ondlgYesClick"></e-dialog-dialogbutton>
            <e-dialog-dialogbutton buttonModel="@noButton" click="ondlgNoClick"></e-dialog-dialogbutton>
        </e-dialog-buttons>
    </ejs-dialog>

</div>



<!-- Script template para a grid do syncfusion, este template permite colocar a imagem do user numa determinada coluna -->
<script id="template" type="text/x-template">
    <div class="image">        
        <img src="${ImageFullPath}" />
    </div>
</script>

<!-- Script template para a grid do syncfusion, este template permite colocar a checkbox numa determinada coluna -->
<script id="templateCheckbox1" type="text/x-template">
    <div class="template_checkbox">
        ${if(IsActive)} 
            <input type="checkbox" checked disabled="disabled" > ${else}
            <input type="checkbox" disabled="disabled">
        ${/if}
    </div>
</script>

<!-- Script template para a grid do syncfusion, este template permite colocar a checkbox numa determinada coluna -->
<script id="templateCheckbox2" type="text/x-template">
    <div class="template_checkbox">
        ${if(IsOnlineStore)}
            <input type="checkbox" checked disabled="disabled" > ${else}
            <input type="checkbox" disabled="disabled">
        ${/if}
    </div>
</script>


<!-- Script com as funçoes dos botoes da grid do syncfusion -->
<script>

    let id;

    function rowSelected(args){
       // obtem a linha da tabela selecionada     
       var selectedrecords = this.getSelectedRecords();  
     
       // atribui à variàvel id o valor do user id selecionado na tabela
       id = selectedrecords[0].Id;   
    }

    function toolbarClick(args) {        
        
        //determina se o botão da tabela clicado foi o de editar store, o editStore é o id do botão definido na linha 21
        if (args.item.id === 'createStore') 
        {            
            window.location.href = '/Store/Create/';
        }

        //determina se o botão da tabela clicado foi o de adicionar store, o create Store é o id do botão definido na linha 18
        if (args.item.id === 'editStore') {            

            //se o id for nulo, vazio ou indefenido entra neste bloco de código e faz um pedido por ajax ao servidor, mais especifico,
            //ao método ToastNotification do controlador Store que vai fazer surgir uma toast message com a mensagem/tipo desejado
            //os tipos de mensagem possiveis são warning,success,information e error.
            if (id === "" || id === null || id === undefined) {

                let message = "You must select a store!";
                let type = "warning";

                $.ajax({
                    url: '@Url.Action("ToastNotification","Store")',
                    type: 'POST',
                    dataType: 'json',
                    data: { message: message, type: type },
                    success: function(result) {
                        console.log(result);
                    },
                    error: function(ex) {
                        console.log(ex);
                    }
                });

                return;
            }

            //se o id não for nulo,vazio ou indefinido chama o url seguinte (método update do controlador store) e passa-lhe o id
            window.location.href = '/Store/Update/' + id;
        }

        //determina se o botão da tabela clicado foi o de info do sore, o infoStore é o id do botão definido na linha 19
        
        if (args.item.id === 'infoStore') {            
            //ler linhas 140 a 142, faz exatamente o mesmo.
            if (id === "" || id === null || id === undefined) {

                let message = "You must select a store!";
                let type = "warning";

                $.ajax({
                    url: '@Url.Action("ToastNotification","Store")',
                    type: 'POST',
                    dataType: 'json',
                    data: { message: message, type: type },
                    success: function(result) {
                        console.log(result);
                    },
                    error: function(ex) {
                        console.log(ex);
                    }
                });
                
                return;
            }

            //se o id não for vazio,nulo ou indefinido, procede a pedido ajax ao método StoreDetails no controlador store para obter os dados do store            
            $.ajax({
                url: '@Url.Action("StoreDetails","Store")',
                type: 'POST',
                dataType: 'json',
                data: {Id: id},
                
                success: function (storeData) {
                    //se conseguir obter os dados (storeDetails), vai apresentar os mesmos no dialog do syncfusion
                    
                    var dialog = document.getElementById("dialog").ej2_instances[0];  //obtem o objecto dialog do syncfusion                       
                    
                    //console.log(dialog);

                    dialog.header = "Store:  " + storeData.name; // define o titúlo do dialog e apresenta-o no Header

                    let storeType;
                    if (storeData.isOnlineStore === false) {
                        storeType = "Physical Store";
                    }
                    else {
                        storeType = "Online Store";
                    }

                    let storeStatus;
                    if (storeData.isActive === false) {
                        storeStatus = "Inactive";
                    }
                    else {
                        storeStatus = "Active";
                    }

                    dialog.content = 
                        "<b>Type: </b>" + storeType + "<br/>" + //Define a mensagem/conteudo do dialog
                        "<b>Email: </b>" + storeData.email + "<br/>" +
                        "<b>Phone Number: </b>" + storeData.phoneNumber + "<br/>" +
                        "<b>Address: </b>" + storeData.address + "<br/>" +
                        "<b>City: </b>" + storeData.city + "<br/>" +
                        "<b>Zip Code: </b>" + storeData.zipCode + "<br/>" +
                        "<b>Country: </b>" + storeData.country + "<br/>" +
                        "<b>Store Status: </b>" + storeStatus + "<br/>";

                    dialog.show(); // faz popup do dialog
                },
                error: function(ex) //se não obter dados do servidor apresentar a mensagem de erro no log do browser
                {
                    console.log("failed " + ex.message);
                }
            });
        }

         //determina se o botão da tabela clicado foi o de delete do store, o deleteStore é o id do botão definido na linha 20
        if (args.item.id === 'deleteStore') {            
            //ler linhas 140 a 142, faz exatamente o mesmo.
            if (id === "" || id === null || id === undefined) {

                let message = "You must select a store!";
                let type = "warning";

                $.ajax({
                    url: '@Url.Action("ToastNotification","Store")',
                    type: 'POST',
                    dataType: 'json',
                    data: { message: message, type: type },
                    success: function(result) {
                        console.log(result);
                    },
                    error: function(ex) {
                        console.log(ex);
                    }
                });

                return;
            }
            //se o id não for vazio,nulo ou indefinido, apresenta a caixa de dialogo (deleteDialog) do syncfusion que está defenida entre as linhas
            //91 e 99
            var dialog = document.getElementById("deleteDialog").ej2_instances[0];  
            dialog.content = "Are you sure you want to delete the store?"; // insere o conteudo da caixa de dialogo
            dialog.show(); //faz popup do dialog           
        }

        //determina se o botão da tabela clicada foi o de mostrar store inactivo
        if (args.item.id === 'showStore') {   
            //caso tenha sido, chama a partir de url, o método ViewAll do contralador store e passa-lhe a variavel isActive a falso
            //para que possa mostrar todos os stores, activos e inactivos
            window.location.href = '/Store/ViewAll?isActive=false';            
        }

        //determina se o botão da tabela clicada foi o de esconder store inactivo
        if (args.item.id === 'hideStore') { 
           //caso tenha sido, chama a partir de url, o método ViewAll do contralador store e passa-lhe a variavel isActive a true
            //para que possa mostrar somente os stores activos
            window.location.href = '/Store/ViewAll?isActive=true';            
        }      
    }

    //on OverlayClick é função que permite fechar as janelas dialog do syncfusion quando utilizador clica numa outra zona do ecrã sem ser 
    //na caixa de dialog própriamente dita.
    function onOverlayClick() {
            var dialog = document.getElementById("dialog").ej2_instances[0];              
            dialog.hide();        
    }; 

    //faz o mesmo da função acima, mas para caixa de dialogo diferente (deleteDialog)
    function onDeleteOverlayClick() {
        var dialog = document.getElementById("deleteDialog").ej2_instances[0];              
            dialog.hide();
    }

    //função que é chamada quando se clica no botão "NO" da caixa de dialogo Delete store, função limita-se a fechar caixa de diálogo
    function ondlgNoClick() {
        var dialog = document.getElementById("deleteDialog").ej2_instances[0];              
        dialog.hide();
    }

    //função que é chamada quando se clica no botão "YES" da caixa de dialogo Delete store
    function ondlgYesClick() {
         
        //procede a pedido ajax para correr metodo Delete do controlador Store, método esse que devolve um booleano(true/false)
        $.ajax({
                url: '@Url.Action("Delete","Store")',
                type: 'POST',
                dataType: 'json',
                data: {id: id},
                success: function(result) {                        
                    //se resultado for true, procede a pedido ajax para chamar o método ToastNotification do controlador store e 
                    // mostrar uma toast message, neste caso de sucesso.
                    if (result === true) {

                        let message = "Store deleted with success!";
                        let type = "success";

                        $.ajax({
                            url: '@Url.Action("ToastNotification","Store")',
                            type: 'POST',
                            dataType: 'json',
                            data: { message: message, type: type },
                            success: function(result) {
                               
                            },
                            error: function(ex) {
                                console.log(ex);
                            }
                        });
                        
                        var dialog = document.getElementById("deleteDialog").ej2_instances[0];
                        dialog.hide();    
                        setTimeout(function() {
                          window.location.reload();
                        }, 3000);


                    }
                    else {

                        //se o resultado for falso, faz pedido ajax ao mesmo método de toastNotification para mostrar toast message de erro/warning
                        let message = "There was a problem deleting the store";
                        let type = "Warning";

                        $.ajax({
                            url: '@Url.Action("ToastNotification","Store")',
                            type: 'POST',
                            dataType: 'json',
                            data: { message: message, type: type },
                            success: function(result) {
                                console.log(result);
                            },
                            error: function(ex) {
                                console.log(ex);
                            }
                        });

                        var dialog = document.getElementById("deleteDialog").ej2_instances[0];
                        dialog.hide();
                    }
                },
                error: function(ex) 
                {
                    console.log("failed " + ex.message);
                }
        });
    }

 </script>

