@using System.Globalization
@model Webx.Web.Models.ShopViewModel

@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="margin-top:50px;margin-bottom:50px;">

        <div class="col-md-8">
            <div class="table-dashboard dashboard wish-list-section">
                <div class="box-head mb-3">
                    <h3 style="text-align:start">Order <b>#@Model.CustomerOrders.FirstOrDefault().Order.InvoiceId</b> details</h3>
                </div>
                <div class="box-head mb-3" style="margin-top:50px;">
                    <h5 style="text-align:start"><b>Purchased products</b></h5>
                </div>
                <div class="table-responsive">
                        <table class="table cart-table">
                            <thead>
                                <tr class="table-head">
                                    <th scope="col">Image</th>
                                    <th scope="col">Product</th>                        
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total Price</th>                        
                                </tr>
                            </thead>
                            <tbody>                   
                                
                                @foreach(var item in Model.CustomerOrders.FirstOrDefault().OrderDetails)
                                {
                                  <tr>
                                    <td>
                                        <a href="#">
                                            @if(item.Product.Images.Count() > 0)
                                            {
                                                <img src="@item.Product.Images.ElementAt(0).ImageFullPath" class="blur-up lazyload" alt="">
                                            }
                                            else{
                                                <img src="https://webx2022.blob.core.windows.net/images/NoPhoto-round.jpg" class="blur-up lazyload" alt="">  
                                            }
                                        </a>
                                    </td> 
                                    <td style="max-width:300px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                                        <p class="mt-0">@item.Product.Name</p>
                                    </td>
                                    <td>
                                        <p class="theme-color fs-6">@item.Product.Price.ToString("C2")</p>
                                    </td>
                                    <td>
                                        <p class="mt-0">@item.Quantity</p>
                                    </td>
                                    <td>
                                        <p class="theme-color fs-6">@item.Price.ToString("C2")</p>
                                    </td>
                                  </tr>
                                }                                
                            </tbody>                            
                           
                        </table>
                        <table class="table cart-table">
                            <thead>                                
                                <tr class="table-head">                                    
                                    <th style="width:82%;text-align:end">Grand Total</th>
                                    <th style="width:18%;padding-right:0px" class="theme-color fs-6">@Model.CustomerOrders.FirstOrDefault().Order.TotalPrice.ToString("C2")</th>
                                </tr>
                            </thead>
                        </table>
                </div>          
            </div>
                        
        </div>


        <div class="col-md-4">
             <div class="table-dashboard dashboard wish-list-section">
                 <div class="table-responsive" style="box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px">
                     <table class="table cart-table">
                         <thead>
                             <tr class="table-head">
                                <th scope="col">Order Status</th>
                            </tr>
                         </thead>
                         
                         <tr>
                             <td>
                                 @if(Model.CustomerOrders.FirstOrDefault().Order.Status.Name == "Order Created")
                                 {
                                     <p style="cursor:default;color:white" class="btn btn-sm btn-primary">Order Created</p>
                                 }
                                 @if(Model.CustomerOrders.FirstOrDefault().Order.Status.Name == "Appointment Created")
                                 {
                                     <p style="cursor:default;color:white" class="btn btn-sm btn-success">Appointment Created</p>
                                 }
                                 @if(Model.CustomerOrders.FirstOrDefault().Order.Status.Name == "Pending Appointment")
                                 {
                                     <a asp-action="MakeAppointment" asp-controller="Appointment" asp-route-orderId="@Model.CustomerOrders.FirstOrDefault().Order.Id">
                                         <p class="btn btn-sm btn-warning">Pending Appointment</p>
                                     </a>
                                 }
                                 @if(Model.CustomerOrders.FirstOrDefault().Order.Status.Name == "Order Shipped")
                                 {
                                     <p style="cursor:default;color:white" class="btn btn-sm btn-success">Order Shipped</p>
                                 }
                                 @if(Model.CustomerOrders.FirstOrDefault().Order.Status.Name == "Order Closed")
                                 {
                                     <p style="cursor:default;color:white" class="btn btn-sm btn-secondary">Order Closed</p>
                                 }
                                 @if(Model.CustomerOrders.FirstOrDefault().Order.Status.Name == "Appointment Done")
                                 {
                                     <p style="cursor:default;color:white" class="btn btn-sm btn-secondary">Appointment Done</p>
                                 }
                             </td>
                         </tr>
                         @{
                             var cul = new CultureInfo("en-GB");
                         }
                         <thead>
                             <tr class="table-head">
                                <th scope="col">Order Date</th>
                            </tr>
                         </thead>
                         <tr>
                             <td>
                                 <p class="mt-0">@Model.CustomerOrders.FirstOrDefault().Order.OrderDate.ToString("dddd , dd MMMM yyyy",cul)</p>
                             </td>
                         </tr>

                        @if(Model.CustomerOrders.FirstOrDefault().Order.Appointment != null)
                        {
                            <thead>
                                <tr class="table-head">
                                    <th scope="col">Appointment Details</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    <p class="mt-0"><b>Date scheduled:</b> @Model.CustomerOrders.FirstOrDefault().Order.Appointment.AppointmentDate.ToString("dd/MM/yyyy")</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="mt-0"><b>Hour scheduled:</b> @Model.CustomerOrders.FirstOrDefault().Order.Appointment.BegginingHour.ToString("HH:mm")</p>
                                </td>
                            </tr>
                            @if(Model.CustomerOrders.FirstOrDefault().Order.Appointment.HasAttended == true)
                            {
                                <tr>
                                    <td>
                                        <p class="mt-0"><b>Service done by:</b> @Model.CustomerOrders.FirstOrDefault().Order.Appointment.WorkerID.FullName</p>
                                    </td>
                                </tr>
                            }
                        }

                        <thead>
                             <tr class="table-head">
                                <th scope="col">Store</th>
                            </tr>
                         </thead>
                        <tr>
                            <td>
                                <p class="mt-0">@Model.CustomerOrders.FirstOrDefault().Order.Store.Name</p>
                            </td>
                        </tr>

                        <thead>
                                <tr class="table-head">
                                       <th><a asp-action="Printpdf" asp-controller="Checkout" asp-route-OrderId="@Model.CustomerOrders.FirstOrDefault().Order.Id" target="_blank" class="btn btnPersonalizado">Invoice PDF <i class="fas fa-file-pdf"></i></a></th>
                                </tr>                          
                        </thead>

                     </table>
                 </div>
             </div>




        </div>
    </div>
</div>

